@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;700;800&display=swap");

@import "elevation";
@import "variables";
@import "~bootstrap/scss/bootstrap";

a {
  font-weight: 600;
  &:hover {
    text-decoration: none;
  }
}

.nav-social {
  display: block;
  width: 45px;
  padding: 10px 10px;
}

.jumbo-container {
  background: url("/planck-eotw-mito-rams.jpg") center center no-repeat;
  background-size: cover;
  color: #ffffff;
  position: relative;
  height: auto;

  .container,
  .row {
    height: 100%;
  }

  &:after {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: #2c3e50;
    opacity: 0.8;
    content: "";
    z-index: 2;
  }

  div {
    position: relative;
    z-index: 3;
  }
}

.jumbo-header {
  font-size: 4rem;
  font-weight: 800;
}

.section-container {
  padding: 3rem 0;
}

.lead {
  font-size: 1.75rem;
}

.display-2 {
  font-size: 4rem;
}

.usa-embed-container {
  position: relative;
  padding-bottom: 56.25%; /* set the aspect ratio here as (height / width) * 100% */
  height: 0;
  overflow: hidden;
  max-width: 100%;
  margin-bottom: 60px;
  margin-top: 60px;
}

.usa-embed-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.navbar-toggler-icon {
  background-image: url("./../public/navicon.svg");
}

.container-xxl {
  max-width: 1280px;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) {
}

// Small devices (landscape phones, less than 768px)
@media (max-width: 767.98px) {
  .jumbo-container {
    height: auto;
  }
}

// Medium devices (tablets, less than 992px)
@media (max-width: 991.98px) {
}

// Large devices (desktops, less than 1200px)
@media (max-width: 1199.98px) {
  .display-1 {
    font-size: 4rem;
  }
  .display-2 {
    font-size: 3rem;
  }
}
