@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;500;700;800&display=swap");

@import "elevation";
@import "variables";
@import "~bootstrap/scss/bootstrap";

h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
}

h3 {
  font-weight: 500;
  font-size: 1.75rem;
}

a {
  font-weight: 600;
  &:hover {
    text-decoration: none;
  }
}

blockquote {
  font-size: 20px;
  margin-top: 2rem;
  margin-bottom: 3rem;
  font-family: Open Sans;
  font-style: italic;
  color: #2c3e50;
  padding: 1.2em 30px 1.2em 75px;
  border-left: 8px solid #2c3e50;
  line-height: 1.6;
  position: relative;
  background: #ededed;
}

blockquote::before {
  content: "\201C";
  color: #2c3e50;
  font-size: 4em;
  position: absolute;
  left: 10px;
  top: -10px;
}

blockquote::after {
  content: "";
}

.navbar-nav {
  font-size: 16px;
}

.nav-social {
  display: block;
  width: 45px;
  padding: 10px 10px;
}

.link-image {
  display: block;
  background: url("/ig-logo.png") center center;
  background-size: cover;
  border-radius: 50%;
  height: 100px;
  width: 100px;
  margin: 15px auto;
}

.ortho-links {
  .btn {
    font-size: 16px;
    padding: 16px 20px;
  }
}

.container-lg {
  max-width: 1440px;
  padding-left: 15px;
  padding-right: 15px;
}

.ortho-link-container {
  max-width: 680px;
  margin: 0 auto;
}

.jumbo-container {
  background: url("/planck-eotw-mito-rams.jpg") center center no-repeat;
  background-size: cover;
  color: #ffffff;
  position: relative;
  height: auto;

  .container,
  .row {
    height: 100%;
  }

  &:after {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: #2c3e50;
    opacity: 0.8;
    content: "";
    z-index: 2;
  }

  div {
    position: relative;
    z-index: 3;
  }
}

.jumbo-header {
  font-size: 4rem;
  font-weight: 800;
}

.section-container {
  padding: 3rem 0;
}

.work-louder-jumbo {
  background: url("/work-louder-creator-board.jpg") center center no-repeat;
  background-size: cover;
  position: relative;
  padding: 4rem 0;

  &:after {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: #2c3e50;
    opacity: 0.6;
    content: "";
    z-index: 2;
  }

  div {
    position: relative;
    z-index: 3;
  }
}

.ortho-guide {
  background: url("/creator-board/work-louder-creator-board-diy.jpg") center
    center no-repeat;
  background-size: cover;
  position: relative;
  padding: 7rem 0;

  &:after {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: #2c3e50;
    opacity: 0.8;
    content: "";
    z-index: 2;
  }

  div {
    position: relative;
    z-index: 3;
  }
}

.keyboards-jumbo {
  background: url("/planck-keyrest-zealios.jpg") center center no-repeat;
  background-size: cover;
  position: relative;
  padding: 3rem 0;

  &:after {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: #2c3e50;
    opacity: 0.6;
    content: "";
    z-index: 2;
  }

  div {
    position: relative;
    z-index: 3;
  }
}

.lead {
  font-size: 1.75rem;
}

.display-2 {
  font-size: 4rem;
}

.usa-embed-container {
  position: relative;
  padding-bottom: 56.25%; /* set the aspect ratio here as (height / width) * 100% */
  height: 0;
  overflow: hidden;
  max-width: 100%;
  margin-bottom: 60px;
  margin-top: 60px;
}

.usa-embed-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.navbar-toggler-icon {
  background-image: url("./../public/navicon.svg");
}

.container-xxl {
  max-width: 1280px;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.medium-img {
  max-width: 600px;
}

.small-img {
  max-width: 300px;
}

.smaller-img {
  max-width: 150px;
}

.blog-content-container {
  img {
    max-width: 100%;
    height: auto;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
}

.keyboard-section {
  max-width: 1440px;
  padding: 60px 15px;
  margin: 0 auto;
  h2 {
    font-size: 1.5rem;
  }
  .keyboard-card {
    margin-bottom: 15px;
    height: 100%;
    padding-bottom: 30px;
  }
  .card {
    height: 100%;
  }
  p.card-text {
    font-size: 16px;
    line-height: 18px;
  }
}

// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) {
}

// Small devices (landscape phones, less than 768px)
@media (max-width: 767.98px) {
  .jumbo-container {
    height: auto;
  }
}

// Medium devices (tablets, less than 992px)
@media (max-width: 991.98px) {
}

// Large devices (desktops, less than 1200px)
@media (max-width: 1199.98px) {
  .display-1 {
    font-size: 4rem;
  }
  .display-2 {
    font-size: 3rem;
  }
}
